@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(500px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

a {
    color: #F04283;
    transition: color 0.3s ease;
    text-decoration: none; /* Optional: remove underline */
}

a:hover {
    color: #F97FAD; /* Example hover color */
    text-decoration: underline;
}


body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #ffffff; /* Very light grey */
}

header img {
    display: block;
    max-height: 300px;
    width: auto; /* Allows the image to maintain its aspect ratio */
    max-width: 600px; /* Limits the image's maximum width */
    height: auto;
    margin: 100px auto 50px; /* Centers the image horizontally */
    padding: 20px; /* Adjust if padding is needed, but consider applying it to the container */
    box-sizing: border-box;
    animation: fadeIn 2s ease-out forwards;
    
    
}

main, .main-container {
    max-width: 800px; /* Align this with the banner image's max-width for consistent centering */
    margin: 0 auto; /* Ensures centering */
    padding: 50px; /* Adjust as necessary, ensuring it doesn't push content off-center */
    box-sizing: border-box;
}

.language-selector {
    margin: 20px 0;
    font-family: 'Segoe UI', sans-serif;
}

#language-dropdown {
    padding: 8px;
    margin-left: 80%;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: white;
}

#mainContent, #additionalContent {
    margin: 20px 0; /* Consistent vertical spacing */
}

#mainContent, #additionalContent {
    opacity: 0; /* Start fully transparent */
    animation: slideFadeIn 1s ease-out forwards;
    animation-delay: 1s; /* Starts this animation after the header image */
}

#additionalContent {
    display: flex;
    flex-direction: row; /* This makes items align horizontally by default */
    justify-content: space-between; /* Adjusts spacing between items */
    align-items: center; /* Aligns items vertically */
    margin-top: 50px;
}

#disclaimer {
    color: #969696;
}

/* CSS Media Query for Mobile Devices */
@media (max-width: 768px) { /* Adjusts for screens up to 768px wide, typical for tablets and mobile devices */
    #additionalContent {
        flex-direction: column; /* Stacks items vertically on smaller screens */
        align-items: flex-start; /* Aligns items to the start of the container */
    }
    
    #additionalContent .link-item {
        margin-bottom: 20px; /* Adds space between stacked items */
    }
    
    #additionalContent .link-item:last-child {
        margin-bottom: 0; /* Removes bottom margin from the last item */
    }
}

#additionalContent img {
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    height: auto;
    margin-right: 20px; /* Adjusted for consistent spacing */
}
